@font-face {
  font-family: "iconfont"; /* Project id 3903684 */
  src: url('iconfont.woff2?t=1677934016592') format('woff2'),
       url('iconfont.woff?t=1677934016592') format('woff'),
       url('iconfont.ttf?t=1677934016592') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunshangchuan:before {
  content: "\eb2c";
}

.icon-daoru_o:before {
  content: "\eb49";
}

.icon-qingchu:before {
  content: "\e747";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-xinjian:before {
  content: "\e60f";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-suoding:before {
  content: "\e6e6";
}

.icon-wenjianjia_o:before {
  content: "\eb4f";
}

.icon-daochu:before {
  content: "\e65e";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-shengyin:before {
  content: "\e645";
}

.icon-jianpan:before {
  content: "\eac2";
}

.icon-guanyu_o:before {
  content: "\eb77";
}

.icon-mouseM:before {
  content: "\e6bd";
}

